<!DOCTYPE html>
<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Atletas</title>
</head>
<body>
<h1>Los siguientes datos son los que se pueden editar de un atleta:</h1>
<form action="#" th:action="@{/editarAtleta/{id}(id= ${id})}" th:object="${atleta}" method="post">

    <table>
        <tr>
            <td><label for="peso">Peso</label></td>
            <td><input type="text" th:field="*{peso}" id="peso"></td>
        </tr>

        <tr>
            <td><label for="provincia">Provincia</label></td>
            <td><input type="text" th:field="*{provincia}" id="provincia"></td>
        </tr>

        <tr>
            <td><label for="canton">Cantón</label></td>
            <td><input type="text" th:field="*{canton}" id="canton"></td>
        </tr>

        <tr>
            <td><label for="distrito">Distrito</label></td>
            <td><input type="text" th:field="*{distrito}" id="distrito"></td>
        </tr>

        <tr>
            <td><label for="telefono">Telefono</label></td>
            <td><input type="text" th:field="*{telefono}" id="telefono"></td>
        </tr>

        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" th:field="*{email}" id="email"></td>
        </tr>

        <input type="submit" value="Guardar cambios">
    </table>
    <br>
    <a th:href="@{/atleta/{id}(id= *{id})}">Volver al detalle del atleta</a>
    <br>
</form>

<a href="/">Ir a casa</a>
</body>
</html>