<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Detalle del atleta</h1>
    <ul>
        <div th:object="${atleta}">
            <li>
                <h4>Persona</h4>
                    <p>Nombre: <span th:text="${atleta.nombre}">Nombre</span></p>
                    <p>Primer Apellido: <span th:text="${atleta.primerApellido}">apellido</span></p>
                    <p>Segundo Apellido: <span th:text="${atleta.segundoApellido}">segundoApellido</span></p>
                    <p>Fecha De Nacimiento: <span th:text="${atleta.fechaDeNacimiento}"></span></p>
            </li>
            <li>
                <h4>Contacto</h4>
                    <p>Telefono: <span th:text="${atleta.telefono}"></span></p>
                    <p>Email: <span th:text="${atleta.email}"></span></p>
            </li>
            <li>
                <h4>Atleta</h4>
                    <p>Deporte: <span th:text="${atleta.deporte}"></span></p>
                    <p>Rama: <span th:text="${atleta.rama}"></span></p>
                    <p>peso: <span th:text="${atleta.peso}"></span></p>
                    <p>altura: <span th:text="${atleta.estatura}"></span></p>
            </li>
            <li>
                <h4>Dirección</h4>
                    <p>Dirección Exacta: <span th:text="${atleta.direccionExacta}"></span></p>
                    <p>Provincia: <span th:text="${atleta.provincia}"></span></p>
                    <p>Canton: <span th:text="${atleta.canton}"></span></p>
                    <p>Distrito: <span th:text="${atleta.distrito}"></span></p>

            </li>
            <a th:href="@{/verIMC/{id}(id= ${atleta.id})}">Ver IMCs del atleta</a>
            <a th:href="@{/editarAtleta/{id}(id= ${atleta.id})}">Editar Atleta</a>
        </div>
    </ul>
</div>
<a href="/">Ir a casa</a>
</body>
</html>