<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IMC</title>
</head>
<body>
<div>
    <h1>Listado de IMC</h1>
    <ul>
        <div th:object="${imcs}">
            <p>Este es el historial de IMCs del atleta </p>
            <table>
                <tr>
                    <th><b>Fecha de registro</b></th>
                    <th><b>Peso</b></th>
                    <th><b>total IMC</b></th>
                    <th><b>Atleta</b></th>
                </tr>
                <tr th:each="entry : ${imcs}">
                    <td th:text="${entry.fechaCalculo}"></td>
                    <td th:text="${entry.peso}"></td>
                    <td th:text="${entry.imc}"></td>
                </tr>
            </table>
        </div>
    </ul>
</div>
<a href="/">Ir a casa</a>
</body>
</html>